<p id="notice"><%= notice %></p>



<div class="container block">
  <div class="row">
    <div class="col-md-12">
      <h1 class="titleArticle text-center">Articles</h1>
    </div>
  </div>

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= article.title %></h2>
    </div>
     
     <div class="col-md-12">
      <h2><%= article.subtitle %></h2>
    </div>

    <div class="col-md-12 text-center">
      <p><%= article.text %></p>
    </div>

    <div class="col-md-12">
    <%= image_tag article.image, class: "img-responsive" %>
    </div>

  <div class="col-md-12">

    <div class="text-center col-md-3 btn btn-primary btn-sm bouton">
      <p><%=  link_to 'Show', article %></p>
    </div>

    <div class="text-center col-md-3 btn btn-primary btn-sm bouton">
      <p><%=  link_to 'Edit', edit_article_path(article) %></p>
    </div>

    <div class="text-center col-md-3 btn btn-primary btn-sm bouton">
      <p><%=  link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }  %></p>
    </div>

</div>
      <% end %>


<br>

<%= link_to 'New Article', new_article_path %>
