%h1= @pin.title
%p= @pin.description
%p
Enregistré par
= @pin.user.email

%br/

= link_to "Retour", root_path
= link_to "Editer", edit_pin_path
= link_to "Supprimer", pin_path, method: :delete, data: { confirm: "Vous êtes sûr ?" }
